<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<form action="/velos/edit/<%= id %>" method="post" name="form1">
	<table width="25%" border="0">
		<tr>
			<td>Nom station</td>
			<td><label for="name"></label><input type="text" name="station" id="station" value="<%= station %>" /></td>
		</tr>
		<tr>
			<td>Nombre bornettes libres</td>
			<td><input type="text" name="nbreBornettesLibres" value="<%= nbreBornettesLibres %>" /></td>
		</tr>
		<tr>
			<td>Nombre total vélos disponibles</td>
			<td><input type="text" name="velosDispo" value="<%= velosDispo %>" /></td>
		</tr>
		<tr>
			<td>Vélos mécaniques disponibles</td>
			<td><input type="text" name="veloManuelle" value="<%= veloManuelle %>" /></td>
		</tr>
		<tr>
			<td>Vélos éléctriques disponibles</td>
			<td><input type="text" name="veloElectriques" value="<%= veloElectriques %>" /></td>
		</tr>
		<tr>
			<td>Borne de paiement disponible</td>
			<td><input type="text" name="bornePaiement" value="<%= bornePaiement %>" /></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="Submit" value="Edit" /></td>
		</tr>
	</table>
	<input type="hidden" name="_method" value="PUT" />
</form>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
